input[type="checkbox"]{
    accent-color: rgb(0, 0, 179);
    border-radius: 3px;
    border: solid 2px #f1f1f1;
    padding: .2rem;
    min-height: inherit;
}
label {
    color: #000;
    margin-left: .5rem;
}

.elemento {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22rem;
    padding: .5rem 1rem;
    margin: 0 auto;
}

.elemento_content {
    display: flex;
}

.trash {
    width: 1.5rem;
    height: auto;
    margin-right: .5rem;
}

.tachado {
    text-decoration: line-through
}